* {
    margin: 0;
    padding: 0;
}

// color vars
$heading-color: #000;
$body-color:  #3E3E3E;
$red: #FF0000;
$a1: rgba(255, 0, 0, 0.5);
$orange: #FF6C00;
$a2: rgba(255, 106, 0, 0.5);
$a3: rgba(255, 196, 0, 0.5);
$a4: rgba(255, 225, 0, 0.5);
$a5: rgba(38, 255, 0, 0.5);
$blue: #0058FF;
$a6: rgba(0, 89, 255, 0.5);
$a7: rgba(128, 0, 255, 0.5);
$a8: rgba(255, 56, 195, 0.5);




// font-family vars
$heading-font: 'Press Start 2P', 'Courier New', Courier, monospace;
$sans-serif:  'PT Sans', sans-serif;

// border vars
$heading-border: 3px solid $heading-color;
$text-area-border: 1px solid $body-color;

// opacity vars
$fifty-percent: 0.5; 
$text-shadow: 3px 4px rgba(0,0,0,.35);
////////// END VARS


// base styles
h1 {
    font-family: $heading-font;
    font-size: 40px;
    color: $heading-color;
    text-align: center;
    margin: .25em;
}

h2 {
    font-family: $heading-font;
    font-size: 35px;
    color: $heading-color;
    text-align: center;
    padding: 1em 0;
    color: white;
    text-shadow: 3px 4px rgba(0, 0, 0, 0.8);
    
    // background-color: $a6;
}

h3 {
    font-family: $heading-font;
    font-size: 15px;
    color: $heading-color;
    padding: 1.4em .4em 1.1em .4em;
    line-height: 1.3em;
    border-top: 1px solid black;
}

p {
    font-family: $sans-serif;
    font-size: 15px;
    color: $body-color; 
}

i {
    font-size: 20px;
    color: $body-color;
}

li {
    font-family: $sans-serif;
    font-size: .8em;
    padding: .5em 0.4em;
    list-style-type: none;
}



img.area-img {
    // width: 100%;
    // position: absolute;
    // clip: rect(0, 100px, 200px, 0);
}

// header background-color styles
// h2[id='1'] {
//     // background-color: $a1;
//     color: black;
//     background-image: url("/images/area_1.png");
//     background-repeat: no-repeat;
//     background-size: 430px 300px;
//     background-position: -28px -110px;

// }

.area-img1-div{
    height: 12em;
    background-image: url("/images/area_1.png");
    background-repeat: no-repeat;
    background-size: 430px 300px;
    background-position: -1.5em -4em;
    // check
}
    

// h2[id='2'] 
// {
//     // background-color: $a2;
//     color: black;
//     background-image: url("/images/area_2.png");
//     background-repeat: no-repeat;
//     background-size: 430px 300px;
//     background-position: -28px -110px;
// }

.area-img2-div{
    height: 12em;
    background-image: url("/images/area_2.png");
    background-repeat: no-repeat;
    background-size: 430px 300px;
    background-position: -28px -40px;
    // check
}

// h2[id='3'] {
//     // background-color: $a3;
//     color: white;
//     background-image: url("/images/area_3.png");
//     background-repeat: no-repeat;
//     background-size: 430px 300px;
//     background-position: -28px -80px;

// }

.area-img3-div{
    height: 12em;
    background-image: url("/images/area_3.png");
    background-repeat: no-repeat;
    background-size: 430px 300px;
    background-position: -28px -80px;
        // check

}

// h2[id='4'] {
//     // background-color: $a4;
//     color: white;
//     background-image: url("/images/area_4.png");
//     background-repeat: no-repeat;
//     background-size: 430px 300px;
//     background-position: -29px -120px;

// }

.area-img4-div{
    height: 12em;
    background-image: url("/images/area_4.png");
    background-repeat: no-repeat;
    background-size: 430px 300px;
    background-position: -1.9em -5em;
        // check

}

// h2[id='5'] {
//     // background-color: $a5;
//     color: white;
//     background-image: url("/images/area_5.png");
//     background-repeat: no-repeat;
//     background-size: 430px 300px;
//     background-position: -28px -80px;

// }

.area-img5-div{
    height: 12em;
    background-image: url("/images/area_5.png");
    background-repeat: no-repeat;
    background-size: 430px 300px;
    background-position: -2em -3.7em;
        // check

}

// h2[id='6'] {
//     // background-color: $a6;
//     color: white;
//     background-image: url("/images/area_6.png");
//     background-repeat: no-repeat;
//     background-size: 430px 350px;
//     background-position: -28px -45px;
// }

.area-img6-div{
    height: 12em;
    background-image: url("/images/area_6.png");
    background-repeat: no-repeat;
    background-size: 430px 350px;
    background-position: -1.8em -3em;
        // check

}

// h2[id='7'] {
//     // background-color: $a7;
//     color: white;
//     background-image: url("/images/area_7.png");
//     background-repeat: no-repeat;
//     background-size: 430px 300px;
//     background-position: -28px -25px;

// }

.area-img7-div{
    height: 12em;
    background-image: url("/images/area_7.png");
    background-repeat: no-repeat;
    background-size: 430px 300px;
    background-position: -1.6em -1.6em;

    // check


}

// h2[id='8'] {
//     // background-color: $a8;
//     background-image: url("/images/area_8.png");
//     background-repeat: no-repeat;
//     background-size: 430px 300px;
//     background-position: -28px -70px;
// }

.area-img8-div{
    height: 12em;
    background-image: url("/images/area_8.png");
    background-repeat: no-repeat;
    background-size: 430px 300px;
    background-position: -1.8em -4.7em;
}

footer {
    // display
        background-color: $heading-color;
        padding: 14px 0 14px 0;
        margin: 0; 
    // flexbox
        display: flex;
        display: -webkit-flex;
        align-items: flex-end;
        justify-content: space-around;
    // fixed
        position: fixed; 
        bottom: 0; 
        width: 100%;  
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a .active {
    color: #ffe200;
}



////////// END BASE STYLES

// classes
.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: $heading-font;
  color: #000;
  font-size: 10px;
  background: #ffffff;
  padding: 5px 5px 5px 5px;
  border: solid #000 3px;
  text-decoration: none;
}

.btn-map {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: $heading-font;
  color: #000;
  font-size: 20px;
  opacity: $fifty-percent;
  background: #ffffff;
  padding: 10px 10px 10px 10px;
  border: solid #000 3px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

// dropdown selector
.select {
    position: relative;
    padding: 30px 0 30px 0;
    margin: auto;
    width: 80%;
}    .select select {
        font-family: $sans-serif;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 3px solid #000000;
        border-radius: 7px;
        background: #FFFFFF;
        color: #000000;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #000000;
            background: #FFFFFF;
        }
        .select select:disabled {
            opacity: 0;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 48px;
    right: 20px;
    width: 0;
    height: 0;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #CCCCCC;
}

.header-bkg {
    background-color: #ffe200;
}



////////// END CLASSES
////////// END CLASSES

////// PRINT ID
#print {
    margin-bottom: 60px;
}

//// WELCOME PAGE IDs ////

#welcomeDiv {
    height: 91vh;
    width: 100%;
    text-align: center;
    background-image: url(../images/map-home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#parkName{
    font-family: $heading-font;
    font-size: 30px;
    color: white;
    text-shadow: $text-shadow;
    padding: .75em 0 .5em 0;
}

#welcomeCall {
    font-family: $heading-font;
    font-size: 50px;
    color: white;
    text-shadow: $text-shadow;
    padding-top: .5em;
    line-height: 1.9;
    margin-bottom: 0;
}

#logo {
    padding: 0 .5em 0 .5em;
    width: 80px;
}

#copyright {
    font-family: $heading-font;
    font-size: 15px;
    color: white;
    text-shadow: $text-shadow;
}
//// END WELCOME PAGE IDs ////

////////// SEARCH
.headerbkgsearch {
    background: #27FF00;
}

#searchField {
    padding: 15px 0 15px 0;
    margin: 30px 30px 10px 30px;
    width: 80%;
    background-color: white;
    border: $heading-border;
}

#search-btn {
    position: relative;
    left: 254px;
    margin-bottom: 10px;
}
//// MAP ///
.areaMap {
    vertical-align: middle;
    width: 50%;
    height: 22.75vh;
}

#print {
    margin-bottom: 60px;
}

#backToAreas {
    border: solid 3px #FF6C00;
    border-radius: 12px;
    font-family: "Press Start 2P", "Courier New", Courier, monospace;
    font-size: 20px;
    margin: -.3em 5em;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.9);
    // float: left;
}

.backToAttractions {
    border: solid 3px $blue;
    border-radius: 12px;
    font-family: $heading-font;
    font-size: 20px;
    margin: 1em;
    padding: 1em;
    background-color: rgba(255, 255, 255,.9);
}

