* {
    margin: 0;
    padding: 0;
}

// color vars
$heading-color: #000;
$body-color:  #3E3E3E;
$a1: rgba(255, 0, 0, 0.74);
$a2: rgba(255, 106, 0, 0.712);
$a3: rgba(255, 196, 0, 0.76);
$a4: rgba(255, 225, 0, 0.678);
$a5: rgba(38, 255, 0, 0.671);
$a6: rgba(0, 89, 255, 0.705);
$a7: rgba(128, 0, 255, 0.74);
$a8: rgba(255, 56, 195, 0.678);



// font-family vars
$heading-font: 'Press Start 2P', 'Courier New', Courier, monospace;
$sans-serif:  'PT Sans', sans-serif;

// border vars
$heading-border: 3px solid $heading-color;
$text-area-border: 1px solid $body-color;

// opacity vars
$fifty-percent: 0.5; 
$text-shadow: 3px 4px rgba(0,0,0,.35);
////////// END VARS


// base styles
h1 {
    font-family: $heading-font;
    font-size: 40px;
    color: $heading-color;
}

h2 {
    font-family: $heading-font;
    font-size: 35px;
    color: $heading-color;
    text-align: center;
    padding: 1em 0;
}

h3 {
    font-family: $heading-font;
    font-size: 15px;
    color: $heading-color;
    padding: 1.4em .4em;
    border-top: 1px solid black;
}

p {
    font-family: $sans-serif;
    font-size: 15px;
    color: $body-color; 
}

i {
    font-size: 20px;
    color: $body-color;
}

li {
    font-family: $sans-serif;
    font-size: .8em;
    padding: 0 .4em;
}



img.area-img {
    // width: 100%;
    // position: absolute;
    // clip: rect(0, 100px, 200px, 0);
}

// header background-color styles
h2[id='1'] {
    background-color: $a1;
}

.area-img1-div{
    height: 10em;
    background-image: url("/images/area_1.png");
    background-repeat: no-repeat;
    background-size: 430px 300px;
    background-position: -28px -110px;
    // check
}
    

h2[id='2'] {
    background-color: $a2;
}

.area-img2-div{
    height: 10em;
    background-image: url("/images/area_2.png");
    background-repeat: no-repeat;
    background-size: 430px 300px;
    background-position: -28px -40px;
    // check
}

h2[id='3'] {
    background-color: $a3;
}

.area-img3-div{
    height: 10em;
    background-image: url("/images/area_3.png");
    background-repeat: no-repeat;
    background-size: 430px 300px;
    background-position: -28px -80px;
        // check

}

h2[id='4'] {
    background-color: $a4;
}

.area-img4-div{
    height: 10em;
    background-image: url("/images/area_4.png");
    background-repeat: no-repeat;
    background-size: 430px 300px;
    background-position: -29px -120px;
        // check

}

h2[id='5'] {
    background-color: $a5;
}

.area-img5-div{
    height: 10em;
    background-image: url("/images/area_5.png");
    background-repeat: no-repeat;
    background-size: 430px 300px;
    background-position: -28px -80px;
        // check

}

h2[id='6'] {
    background-color: $a6;
}

.area-img6-div{
    height: 10em;
    background-image: url("/images/area_6.png");
    background-repeat: no-repeat;
    background-size: 430px 350px;
    background-position: -28px -45px;
        // check

}

h2[id='7'] {
    background-color: $a7;
}

.area-img7-div{
    height: 10em;
    background-image: url("/images/area_7.png");
    background-repeat: no-repeat;
    background-size: 430px 300px;
    background-position: -28px -25px;

    // check


}

h2[id='8'] {
    background-color: $a8;
}

.area-img8-div{
    height: 10em;
    background-image: url("/images/area_8.png");
    background-repeat: no-repeat;
    background-size: 430px 300px;
    background-position: -28px -70px;
}

footer {
    // display
        background-color: $heading-color;
        padding: 14px 0 14px 0;
        margin: 2em 0 0 0; 
    // flexbox
        display: flex;
        display: -webkit-flex;
        align-items: flex-end;
        justify-content: space-around;
    // fixed
        position: fixed; 
        bottom: 0; 
        width: 100%;  
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a .active {
    color: #ffe200;
}



////////// END BASE STYLES

// classes
.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: $heading-font;
  color: #000;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 10px 10px 10px;
  border: solid #000 3px;
  text-decoration: none;
}

.btn-map {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: $heading-font;
  color: #000;
  font-size: 20px;
  opacity: $fifty-percent;
  background: #ffffff;
  padding: 10px 10px 10px 10px;
  border: solid #000 3px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

////////// END CLASSES

//// WELCOME PAGE IDs ////

#welcome {
    height: 90vh;
    width: 100%;
    text-align: center;
    background-image: url(../images/map-home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#parkName{
    font-family: $heading-font;
    font-size: 30px;
    color: white;
    text-shadow: $text-shadow;
    padding: 1em 0;
}

#welcomeCall {
    font-family: $heading-font;
    font-size: 50px;
    color: white;
    text-shadow: $text-shadow;
    padding: 1em 0;
}

#logo {
    float: left;
    padding: 1em;
    width: 100px;
}


#jackstand {
    margin-bottom: 4em;
}
//// END WELCOME PAGE IDs ////